* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Navigation */
.navigation{
    position: fixed;
    top:0;
    width:100%;
    height:5vh;
    background-color:#29495E;
  
}

.menu{
 display:flex;
 list-style: none;
 margin-left: auto;  
 width:50%;
 height:100%;
 justify-content: space-around;
 align-items: center;

}

.menu__link{
    color:#fff;
    text-decoration: none; 

}
.menu__list:hover{
    background-color:#6598BE;
    text-decoration: none;

}
/* .hero{
    width:100%;
    height:100%;
    display: flex;
    margin: 0 auto;
} */
.hero__svg{
    background-size:100% 100%;
}
#clouds{
    position: absolute;
}
#clouds-one{
animation:move 15s infinite linear;

}
#flakes{
    animation: flakes 15s infinite linear;
}
@keyframes move{
from{
    transform: translateY(0%)
}
to{
    transform: translateY(30%)

}
}

@keyframes flakes{
    from{
        transform: translateY(-10%)
    }
    to{
        transform: translateY(130%)
    
    }
}




@media screen and (max-width:768px){
.hamburger__element{
    width:2rem;
    height:0.15rem;
    background-color:white;
    margin:0.3rem ;

}
.header{
    position: sticky;
    top:0
}
.navigation{
   position: relative;
}
.hamburger{
position: absolute;
top:50%;
right: 5%;
transform:translate(-5%,-50%);
 cursor: pointer;
 z-index: 2;
}
    .menu{
        background-color:#29495E;
        height:30vh;
    width:100%;
flex-direction: column;
clip-path: circle(5vh at 90% -10%);
-webkit-clip-path: circle(5vh at 90% -10%);
transition: all .7s ease-out;
pointer-events:none;
justify-content: center;
align-content: right;
}

.menu.open{
  
    pointer-events: all;
    clip-path: circle(30vh at 80% -10%);
-webkit-clip-path: circle(30vh at 80% -10%);
margin-right: auto;
display: flex;
flex-direction: column;
align-content: center;
justify-content: center;
}
.menu__list{
  
    padding: 0.5rem;
    margin-left: 70%;
   
}
}