*, *:after, *:before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    min-width: 200px;
  font-family:'Dosis', sans-serif;
}

/* Navigation */
.navigation{
    position: fixed;
    top:0;
    width:100%;
    height:5vh;
    background-color:transparent;
  
}

.menu{
 display:flex;
 list-style: none;
 margin-left: auto;  
 width:50%;
 height:100%;
 justify-content: space-around;
 align-items: center;

}

.menu__link{
    color:#fff;
    text-decoration: none; 
    text-transform: uppercase;

}


.menu
.menu__list:hover{
    background-color:#6598BE;
    text-decoration: none;


}
.hero{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    overflow: hidden;
}
.hero__svg{
    min-height: 100%;
    width: 100%;
   
    background-image:  url(T_3\ 1.svg);
    background-size:cover;
    background-position: center;
    z-index: -1;
position: relative;
  }

  svg{
     position: absolute;
  }




#flake-one{
    animation: flakes1 15s linear infinite;
       animation-delay: 10s;
}
#flake-two{
    animation: flakes2 30s linear infinite;
    animation-delay: 5s;
}

#flake-three{
    animation: flakes3 15s linear infinite;

} 

@keyframes flakes1{
    from{
        transform: translateY(-10%)
    }
    to{
        transform: translateY(130%)
    
    }
}

@keyframes flakes2{
    from{
        transform: translateY(-10%)
    }
    to{
        transform: translateY(130%)
    
    }
}
@keyframes flakes3{
    from{
        transform: translateY(0%)
    }
    to{
        transform: translateY(100%)
    
    }
}
.about{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
    flex-wrap: wrap;
}

.about__section{
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 1rem 1rem;
    width: 50%;
    height: auto;
    text-align: center;
    line-height: 2rem;
}
.photo, .part1{
    margin:0 auto;
    padding-top:61%;
    width:80%;
    height:auto;
    overflow: hidden;
}

.about__frame{
width:300px;
height: 300px;
top:-2px;
background-color: blueviolet;
position: relative;
display: inline-block;
}

/* .about__frame:before{
    content:'';
    position: absolute;
    top:50;
    left:50;
    width:0;
    height: 0;
    border:6px solid transparent;
}
    .about__frame:hover:before{
    animation: frame 4s ease-in forwards;
}

@keyframes frame{
0%{
    width:0;
    height:0;
    border-top-color:#29495E;
    border-right-color:transparent;
    border-bottom-color:transparent;
    border-left-color:transparent;
}

25%{
    width:25%;
    height:25%;
    border-top-color:#29495E;
    border-right-color:transparent;
    border-bottom-color:transparent;
    border-left-color:transparent;
}
50%{
    width:50%;
    height:50%;
    border-top-color:#29495E;
    border-right-color:#29495E;
    border-bottom-color:transparent;
    border-left-color:transparent;
}
75%{
    width:75%;
    height:75%;
    border-top-color:#29495E;
    border-right-color:#29495E;
    border-bottom-color:#29495E;
    border-left-color:transparent;
}
100%{
    width:100%;
    height:100%;
    border-top-color:#29495E;
    border-right-color:#29495E;
    border-bottom-color:#29495E;
    border-left-color:#29495E;
}
} */
.contact{
    bottom:0;
    display: flex;
    flex-direction: column;
   width:100%;
   height:300px;
    background-color: #29495E;
    text-align: center;
    justify-content: center;
    align-items: center;

overflow: hidden;
}
.intersection{
    position:relative;
    width:100%;

}
.skewed:before{
    position: absolute;
    top:-5vh;
    left:0;
    height:200px;
    content:'';
    width:60%;
    transform: skewY(10deg);
    background-color: #29495E;
}
.skewed:after{
    position: absolute;
    top:-5vh;
    right:0;
    height:200px;
    content:'';
    width:60%;
    transform: skewY(-10deg);
    background-color: #29495E;
}
/* ------------------------------------- */

@media screen and (max-width:768px){
    .navigation{
        /* background-color: rgba(255, 255, 255, 0.2);
        width:30vw;
        height:30vh;
        justify-content: center;
        align-items: center;
        display: flex; */
        top:0;
        right:0;
        position: fixed;
        
     }

     .hamburger{
      position: absolute;
        top:50%;
        right: 5%;
        transform:translate(-5%,-50%);
         cursor: pointer;
         z-index: 2;
         margin-top:0.5rem;
         margin-right:0.5rem;
        }
    .hamburger__element{
    width:24px;
    height:2px;
    background-color:#29495E;
    margin:6px; 
    transition: 0.2s ease-in;
   
}
.change  .burger1{
    transform: translateY(6px) rotateZ(-45deg)
}
.change  .burger3{
    transform: translateY(-10px) rotateZ(45deg)
}
.change  .burger2{
    opacity:0;
}
.change{
    display: block;
}
.menu{  

height:100vh;
transition: all .2s ease-in;  
width:100%;
flex-direction: column;
clip-path: circle(300px at 90% -10%);
-webkit-clip-path:circle(300px at 90% -10%);
pointer-events:none;
justify-content: center;
align-content: center;

}

.menu.open{
    clip-path: circle(1500px at 90% -10%);
-webkit-clip-path:circle(1500px at 90% -10%);

    /* padding-top:3rem;
  padding-right:1rem;
  padding-bottom:3rem; */
pointer-events: all;
display: flex;
flex-direction: column;
justify-content: center;
background: rgba(255, 255, 255, 0.8);
}
.menu__list{
   
    padding: 4rem;
  
   
}
.menu__link{
    color:#29495E;
    font-size:2rem;
    text-align: center;
   
  
}

}