@media screen and (max-width: 1024px) {
  /* Header */
  .header {
    position: fixed;
    top: 0;
  }
  .navigation {
    width: 100%;
    position: fixed;
    background-color: transparent;
  }
  .container {
    background-image: url(/img/4.png);
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* Menu */

  .hamburger {
    position: absolute;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);

    top: 50%;
    right: 5%;
    transform: translate(-5%, -50%);
    cursor: pointer;
    z-index: 2;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    background-color: #fff;
    border-radius: 50%;
    padding: 1rem;
  }
  .hamburger:hover {
    background-color: #e8d4e6;
  }
  .hamburger__element {
    width: 24px;
    height: 2px;
    background-color: #323140;
    margin: 6px;
    transition: 0.2s ease-in;
  }
  .change .burger1 {
    background-color: #323140;
    transform: translateY(6px) rotateZ(-45deg);
  }
  .change .burger3 {
    background-color: #323140;

    transform: translateY(-10px) rotateZ(45deg);
  }
  .change .burger2 {
    opacity: 0;
  }

  .change {
    display: block;
  }
  .menu {
    height: 100vh;
    transition: all 0.2s ease-in;
    width: 100%;
    flex-direction: column;
    clip-path: circle(10px at 90% -10%);
    -webkit-clip-path: circle(10px at 90% -10%);
    pointer-events: none;
    justify-content: center;
    align-content: center;
  }

  .menu.open {
    clip-path: circle(1500px at 90% -10%);
    -webkit-clip-path: circle(1500px at 90% -10%);
    pointer-events: all;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #323140;
    height: 100vh;
  }
  .menu__list {
    padding: 2rem;
  }
  .menu__link {
    color: #e8d4e6;
    font-size: 2rem;
    text-align: center;
  }
  .menu__link:hover {
    border-bottom: 1px solid #e8d4e6;
  }
  /* Title */
  .hero__title {
    width: 50%;
  }
  .hero__title svg {
    width: 95%;
  }
  #logo {
    transform: scale(1.2);
  }
  /* About */
  .about {
    height: auto;
    margin: 0;
    max-width: 100%;
  }
  .about__wrapper {
    flex-direction: column;
    width: 90%;
  }
  .about__right {
    width: 100%;
  }
  .about__left {
    margin: 0;
    margin-top: 3rem;
    width: 100%;
    overflow-x: hidden;
  }
  .about__content {
    width: 100%;
    margin: 0;
  }
  /* Skills */
  .skills {
    height: auto;
  }
  /* Contact */
  .contact__wrapper {
    text-align: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  .contact__img {
    flex-direction: row;
    display: flex;
    align-items: center;
    width: 100%;
  }
  .contact__img svg {
    vertical-align: middle;
    max-width: 100%;
  }
  .contact__me,
  .contact__location,
  .contact__media {
    padding: 3vw;
    margin: 0 auto;
    width: 90%;
    text-align: center;
  }
}
